<app-staffheader></app-staffheader>




  <table class="table " *ngIf= "users" then> 
    <tr>
        <th scope="col">#</th>
        <th>Id</th>
        <th>Name</th>
        <th>Account Number</th>
        <th>Active</th>
        <th>Approved</th>



    </tr>
    <tr *ngFor="let user of users">
        <th scope="row">#</th>
        <td>{{user.beneficiaryId}}</td>
        <td>{{user.beneficiaryName}}</td>
        <td>{{user.beneficiaryAccountNo}}</td>
        <td>{{user.active}}</td>
        <td>{{user.approved}}</td>
        <td> <button class="btn btn-danger btn-rounded" (click)="changeuserStatus(user.beneficiaryId)">Change Status</button></td> 
        
       
    </tr>