<app-staffheader></app-staffheader>
<form [formGroup]="transactionForm" (ngSubmit)="submit()">
    <!-- <form action="action_page.php" method="post"> -->
    <div class="imgcontainer">

    </div>
    <div class="jumbotron text-center">
        <div class="container">
            <h4>
                <input type="text" placeholder="Enter the Reasons for the transaction" name="reason" required formControlName="reason">
                <br>
                <input type="number" placeholder="Enter the first Account" name="fromAccountNo" formControlName="fromAccountNo">
                <br>
                <input type="number" placeholder="Enter the second" name="toAccountNo" required formControlName="toAccountNo">
                <br>
                <input type="number" step="0.01" min=0 placeholder="Enter the Amount " name="amount" required formControlName="amount">
                <br>
                <input type="text" placeholder="Enter the Transaction Type" name="transactionType" required formControlName="transactionType">
                <br>
               
                <button type="submit">Submit Transaction</button><br>
            </h4>
        </div>
    </div>
</form>