#account {
    width: 25%;
    border: 1px solid black;
    float: left;
    margin-top: -17%;
    margin-left: 25%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 20%;
    border-radius: 0%;
    text-align: center;
}


#checkbox{
    text-align: center;
}

h2 {
    margin-bottom: 30px;
    margin-top: 30px;
}
input{
    margin-bottom: 10px;
}