<app-profile></app-profile>
<table class="table ">
    <tr>
        <th scope="col">#</th>
        <th>Beneficiary Account Number</th>
        <th>Beneficiary Name</th>
        <th>Delete Beneficiary</th>



    </tr>
    <!--<tr *ngFor="let user of users">
            <th scope="row">#</th>
            <td>{{ user.customerId }}</td>
            <td>{{user.fullName }}</td>
            <td> <button class="btn btn-danger btn-rounded" (click)="deleteUser(user.customerId)"> Delete User</button>
            </td>
        

        </tr>-->


</table>