<app-profile></app-profile>
<table class="table ">
    <tr>
        <th scope="col">#</th>
        <th>Beneficiary Account Number</th>
        <th>Beneficiary Name</th>
        <th>Delete Beneficiary</th>



    </tr>
    <tr *ngFor="let user of users">
            <th scope="row">#</th>
            <td>{{ user.beneficiaryAccountNo}}</td>
            <td>{{user.beneficiaryName }}</td>
            <td> <button class="btn btn-danger btn-rounded" (click)="deleteUser(user.beneficiaryId)"> Delete User</button>
            </td>
        

        </tr>


</table>