<form [formGroup]="profileForm" (ngSubmit)="update()">
    <div class="jumbotron text-center">
        <div class="container">
            <h2>Update Password</h2>
            <h4>
                <input type="text" placeholder="Enter new password" name="password" required formControlName="password">
                <br>
                <input type="text" placeholder="Confirm password" name="cpassword" required formControlName="cpassword">
                <br>
                <button type="submit">Update</button><br>
            </h4>
            <h3>{{ack}}</h3>
        </div>
    </div>
</form>

<div class="jumbotron text-center">
    <h1>Already have an account?</h1>
    <a href="/">LOGIN HERE</a>
</div>