#profile {
    width: 15%;
    font-size: 18pt;
    margin-top: 7%;
}

#profile a {
    float: left;
    width: 400px;
    margin-left: 5%;
    padding: 3%;
    margin-top: 3%;
    text-decoration: none;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: white;
    color: black;
}

#account {
    font-size: 16pt;
    margin-left: 60%;
    position: fixed;
    margin-top: -5%;
}

.group {
    border: 1px solid black;
    margin-top: 3%;
    padding-left: 5%;
}