<app-admin></app-admin>
<br>
<button class="btn btn-danger btn-rounded" (click)="readUser()"> Display Staff</button>
<h1>List of Staff</h1>
<table class="table ">
    <tr>
        <th scope="col">#</th>
    <th>Staff Name</th>
    <th>Staff User Name</th>
    <th>Enable Disable</th>



    </tr>
    <tr *ngFor="let user of users">
        <th scope="row">#</th>
        <td>{{ user.staffFullName }}</td>
        <td>{{user.staffUserName }}</td>
        <td> <button class="btn btn-danger btn-rounded"> Enable</button></td>
       
    </tr>
</table>
