

<div id="header" >
    <a href ="/" (click) = logout()><img src="/assets/images/bank-getty.jpg" /></a>


    <div *ngIf="c != null || s != null; else elseBlock">
        <a (click) = "logout()" href="/">Logout</a>
        <div class="jumbotron text-center">
            <div *ngIf="c">
                <div id = "update">
                <a href="/updateprofile">Profile</a>
                </div>
                <p>Welcome {{c}}</p>
            </div>
            <div *ngIf="s">
                <p>Welcome {{s}}</p>
            </div>
        </div>
    </div>
    <ng-template #elseBlock><a href="/stafflogin">Staff Corner</a></ng-template>
</div>