<form [formGroup]="profileForm" (ngSubmit)="submit()">

    <div class="jumbotron text-center">
        <div class="container">
            <h2>Register New User</h2>
            <h4>
                <input type="text" placeholder="Enter fullname" name="fullName" required formControlName="fullName">
                <br>
                <input type="text" placeholder="Enter username" name="userName" formControlName="userName">
                <br>
                <input type="text" placeholder="Enter password" name="password" required formControlName="password">
                <br>
                <input type="text" placeholder="Enter ssn" name="ssn" required formControlName="ssn">
                <br>
                <input type="text" placeholder="Enter phone" name="phone" required formControlName="phone">
                <br>
                <select name="secretQuestion" id="question" required formControlName="secretQuestion">
                    <option [ngValue]=1>What is your mother's maiden name?</option>
                    <option [ngValue]=2>What is your 4th grade teacher name?</option>
                    <option [ngValue]=3>What is the name of your favorite pet?</option>
                </select>
                <br>

                <input type="text" placeholder="Enter answer" name="secretAnswer" required formControlName="secretAnswer">
                <br>
                <button type="submit">Update</button><br>
            </h4>
        </div>
    </div>
</form>
