<form [formGroup]="profileForm" (ngSubmit)="verify()">
    <div class="jumbotron text-center">
        <div class="container">
            <h2>Forgot Password</h2>
            <h4>
                <input type="text" placeholder="Enter username" name="userName" required formControlName="userName">
                <br>
                <select name="secretQuestion" id="question" required formControlName="secretQuestion">
                    <option value="1">What is your mother's maiden name?</option>
                    <option value="2">What is your 4th grade teacher name?</option>
                    <option value="3">What is the name of your favorite pet?</option>
                </select>
                <br>
                <input type="text" placeholder="Enter answer" name="secretAnswer" required formControlName="secretAnswer">
                <br>
                <button type="submit">Verify</button>
                <br>
            </h4>
            <h3>{{ack}}</h3>
        </div>
    </div>
</form>

<div class="jumbotron text-center">
    <h1>Already have an account?</h1>
    <a href="/">LOGIN HERE</a>
</div>
